.nav{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.title{
    padding: 0px !important;
    margin: 0px !important;
    color: lightgreen;
}

.nav ul {
    display: flex;
}

.nav ul li {
    list-style: none;
    padding: 0 10px;
}

.nav ul li a:hover {
    padding-bottom: 10px;
    border-bottom: 2px solid lightgreen;
    color: lightgreen;
}

.nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}